.main{
  padding: 1%;
}

.main section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  
}

.main section article{
  text-align: center;
  border: 9px outset magenta;
  background-color: hsl(300, 100%, 50%, 0.4);
  border-radius: 15px;
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
  gap: 5px;
}